<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板</title>
    <link rel="stylesheet" href="../Rotation.css">
    <script src="./jquery-1.8.3.min.js"></script>
    <script src="../Rotation.js"></script>
    <script>
        $(function () {
            Rotation("#Rotation1");
        })
    </script>
</head>

<body>
    <div id="Rotation1" data-rotation>
        <ul>
            <li><a href="#" target="_blank"><img src="./pic1.jpg" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="./pic2.jpg" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="./pic3.jpg" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="./pic4.jpg" alt=""></a></li>
        </ul>
    </div>
</body>

</html>